
.userData {
  width: 80%;
  margin: auto;
}

#dayspassed {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 20px;
  box-shadow: 0 4px 4px #999;
  letter-spacing: 2px;
  border-style: solid;
  border-color: pink;
}

#dayspassed:active {
  border-color: #fff17c;
  border-width: 5px;
}
